html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #c8e6c9;
  color: #fafad2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 5rem;
}

