
## Playwright Tests: failed

duration: 3491.896ms



<details>
  <summary>### ❌  > chromium > tests/map-load.test.ts > Awaits until map ready and takes snapshot</summary>
duration: 806.000ms


<details>
  <summary>### mapLoad-expected.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/e2e/snapshots/tests/map-load.test.ts-snapshots/mapLoad-chromium-darwin.png" download="mapLoad-chromium-darwin.png">Download</a>
</details>


<details>
  <summary>### mapLoad-actual.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium/mapLoad-actual.png" download="mapLoad-actual.png">Download</a>
</details>


<details>
  <summary>### mapLoad-diff.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium/mapLoad-diff.png" download="mapLoad-diff.png">Download</a>
</details>


```
/Users/les/code/maptiler-3d-js/e2e/tests/map-load.test.ts:14:22
```

</details>

<details>
  <summary>### ❌  > chromium > tests/map-load.test.ts > Awaits until map ready and takes snapshot</summary>
duration: 792.000ms


<details>
  <summary>### mapLoad-expected.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/e2e/snapshots/tests/map-load.test.ts-snapshots/mapLoad-chromium-darwin.png" download="mapLoad-chromium-darwin.png">Download</a>
</details>


<details>
  <summary>### mapLoad-actual.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium-retry1/mapLoad-actual.png" download="mapLoad-actual.png">Download</a>
</details>


<details>
  <summary>### mapLoad-diff.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium-retry1/mapLoad-diff.png" download="mapLoad-diff.png">Download</a>
</details>


```
/Users/les/code/maptiler-3d-js/e2e/tests/map-load.test.ts:14:22
```

</details>

<details>
  <summary>### ❌  > chromium > tests/map-load.test.ts > Awaits until map ready and takes snapshot</summary>
duration: 747.000ms


<details>
  <summary>### mapLoad-expected.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/e2e/snapshots/tests/map-load.test.ts-snapshots/mapLoad-chromium-darwin.png" download="mapLoad-chromium-darwin.png">Download</a>
</details>


<details>
  <summary>### mapLoad-actual.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium-retry2/mapLoad-actual.png" download="mapLoad-actual.png">Download</a>
</details>


<details>
  <summary>### mapLoad-diff.png</summary>
  <br />
  <a href="/Users/les/code/maptiler-3d-js/test-results/tests-map-load-Awaits-until-map-ready-and-takes-snapshot-chromium-retry2/mapLoad-diff.png" download="mapLoad-diff.png">Download</a>
</details>


```
/Users/les/code/maptiler-3d-js/e2e/tests/map-load.test.ts:14:22
```

</details>